**Make sure to have a copy of the database file, "world-db", downloaded and in this directory for the below to work!**

In [2]:
%load_ext sql
%sql sqlite:///./world-db

**Exercise #1**: write a query that returns the countries that gained independence after 1989, along with the year they gained independence.

In [ ]:
%%sql
SELECT Name, IndepYear
FROM Country
WHERE IndepYear >= '1990';

**Exercise #2**: write a query that returns the two most populous cities in the US.

In [ ]:
%%sql
SELECT Name, Population
FROM City
WHERE CountryCode = 'USA'
ORDER BY Population DESC
LIMIT 2;

**Exercise #3**: write a query that returns the countries that speak at least 50% Greek.

In [3]:
%%sql
SELECT C.Name
FROM Country C, CountryLanguage L
WHERE C.Code = L.CountryCode
AND L.Language = 'Greek'
AND L.Percentage >= 50 ;

 * sqlite:///./world-db
Done.

[('Cyprus',), ('Greece',)]

**Exercise #4**: write a query that returns the district of the capital of USA.

In [4]:
%%sql
SELECT T.district
FROM Country C, City T
WHERE C.code = 'USA'
AND C.capital = T.id ;

 * sqlite:///./world-db
Done.

[('District of Columbia',)]