Welcome to IPython notebook!
--------------------------

Time to get on with it and print the ceremonial `"Hello world!`.

To execute a cell, click on it, and then use SHIFT+ENTER (this will execute the contents of the cell, and move down to the next one!)

There are other useful keyboard commands (see the Help menu) and the menu bar can always be used instead as well

In [1]:
print ("Hello world!")

Hello world!

Now, for advanced users only:

In [2]:
import sys, time
message = "HELLO WORLD!"

L = len(message)
for i in range(100):
    time.sleep(0.1)
    j = i % L
    if j > 0:
        sys.stdout.write("\r" + message[-j:] + " " + message[:L-j])
    else:
        sys.stdout.write("\r" + message)
    sys.stdout.flush()

LD! HELLO WOR

When we want to work with SQL easily in an Ipython notebook, we'll load the ipython-sql [extension](https://github.com/catherinedevlin/ipython-sql). 

If you do not have this extension installed please type 
~~~~
pip install ipython-sql
~~~~

**Note: DO NOT PANIC** 
* Don't worry if you get (a) a big red-highlighted warning or (b) a note that the extension has already been loaded!  As long as your SQL commands work, it's loaded properly!

* If you don't understand all the SQL queries... very soon, you will!

In [3]:
%load_ext sql

Next, we'll load an SQLite database stored as a file as follows:

**NOTE: We load a file below (here, "dataset_1.db"), which must be in the same directory as the notebook. For this activity, make sure to download the one from Canvas!**

In [4]:
%sql sqlite:///dataset_1.db

Lets look at one table from the US National Oceanic and Atmospheric Administration (NOAA) Rainfall dataset- `precipitation_full`- having the following schema:

> * `state_code`
> * `station_id`
> * `year`
> * `month`
> * `day`
> * `hour`
> * `precipitation`
> * `flag_1`
> * `flag_2`

Each tuple in this table describes one hour of rainfall (`precipitation`- in hundredths of an inch) at one station (`station_id`) in one state (`state_code`).  Note that tuples with `hour=25` record the total rainfall for that day, and that we can ignore the values of attributes `flag_1` and `flag_2` for now.

Note that you can also load an empty in-memory database using:

``%sql sqlite://``

Now let's try out some SQL queries!  (Don't worry, if you're new to SQL, we'll go over all the syntax in more depth next lecture)

**`%sql` is used for single line SQL commands:**

In [5]:
%sql SELECT * FROM precipitation_full LIMIT 5;

 * sqlite:///dataset_1.db
Done.

[(1, 807, 2013, 9, 1, 1, None, '[', ''),
 (1, 807, 2013, 9, 1, 25, 0, 'I', ''),
 (1, 807, 2013, 9, 30, 24, None, ']', ''),
 (1, 807, 2013, 9, 30, 25, 0, 'I', ''),
 (1, 6303, 2013, 9, 1, 1, 0, 'g', '')]

In [ ]:
%sql SELECT COUNT(*) FROM precipitation_full;

And **`%%sql` is used for multi-line SQL commands:**

In [6]:
%%sql
SELECT SUM(p.precipitation) 
FROM precipitation_full p, states s 
WHERE p.state_code = s.code AND s.abbrev = 'CA';

 * sqlite:///dataset_1.db
Done.

[(31982,)]

We can also work with the output of the queries we issue:

In [7]:
result = %sql SELECT * FROM states;

 * sqlite:///dataset_1.db
Done.

In [8]:
result.keys

RMKeyView(['code', 'name', 'abbrev'])

Note that the first row is the header row with column names!

In [11]:
type(result[1])

sqlalchemy.engine.row.LegacyRow

In [10]:
result[1].name

'Alabama'

Now feel free to experiment and have fun with the dataset!